*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 4rem;
}

.main {
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  grid-gap: 3rem;
}

.row {
  display: flex !important;
}

.video-container {
  width: 100%;
}

.video-detail {
  width: 55%;
  margin-right: 2rem;
}

.video-list {
  width: 40%;
}

.searchbar {
  margin-block-start: 3rem;
}

.field {
  display: flex;
  flex-direction: column;
}

input {
  padding: 1rem 1.5rem;
  margin-block-start: 1rem;
}

input:focus-visible {
  outline: none;
}

@media only screen and (max-width: 62.5em) {
  .main {
    margin: 0 3rem;
  }
  .row {
    flex-direction: column !important;
  }

  .video-detail {
    width: 100%;
    margin: 0 0 3rem 0;
  }

  .video-list {
    width: 100%;
  }
}

@media only screen and (max-width: 31.25em) {
  body {
    margin: 2rem;
  }

  .main {
    margin: 0;
  }
}
